<div>
    <mat-table [dataSource]="clientes" class="mat-elevation-z8">

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef class="colunaGrande"> Nome </mat-header-cell>
            <mat-cell *matCellDef="let cliente" class="colunaGrande"> {{cliente.nome}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef class="colunaGrande"> E-mail </mat-header-cell>
            <mat-cell *matCellDef="let cliente" class="colunaGrande"> {{cliente.email}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
            <mat-cell *matCellDef="let cliente"> {{cliente.telefone}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="documento">
            <mat-header-cell *matHeaderCellDef> CPF / CNPJ </mat-header-cell>
            <mat-cell *matCellDef="let cliente"> {{cliente.documento}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="dataNascimento">
            <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
            <mat-cell *matCellDef="let cliente"> {{cliente.data_nascimento | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="sexo">
            <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
            <mat-cell *matCellDef="let cliente"> {{cliente.sexo}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="opcao">
            <mat-header-cell *matHeaderCellDef> Opções </mat-header-cell>
            <mat-cell *matCellDef="let cliente"> 
                <button mat-button> <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon> </button>
                <button mat-button> <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> </button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>